*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
}

a{
    cursor: pointer;
}

/*header*/

header{
    background-color: #3161e0;
}

.header-section{
    width: 100%;
    display: flex;
}

.header-container{
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header-section__login{
    justify-content: flex-end;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    width: auto;
}

.header-section__logo{
    width: auto;
}

.header-section__list{
    display: flex;
    justify-content: center;
}

.header-section__list>li{
    margin: 3%;
    font-size: 0.9rem;
    font-weight: 500;
}

/*Main*/

.main-container{
    height: 500px;
}

.main-container__title{
    background-image: url(./img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0 20%;
}

.main-container__title_content>h1{
    padding: 20px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.main-container__title_content>p{
    padding: 20px 0;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
}

.buttons{
    padding: 15px 25px;
    border-radius: 25px;
    margin: auto;
    margin-top: 3%;
    width: auto;
}

.main-container__title_content>div{
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
}

/*Body*/

/*Sezione Uno e Tre*/

.main-container__body{
    height: 680px;
    align-items: center;
}

.main-container__body_content{
    display: flex;
}

.main-container__body_text{
    width: 30%;
    margin: auto;
}

.main-container__body_text>h2{
    font-size: 3rem;
    font-weight: 900;
    padding: 10px;
    color: #212528;
}

.main-container__body_text>p{
    font-size: 1.2rem;
    padding: 10px;
    color: #212528;
}

/*sezione due*/

.main-container__body_content_order{
    display: flex;
}

.main-container__body_content_order>img{
    order: 1;
}

/*sezione quattro*/


.main-container__body_taller{
    height: 1096px;
    align-items: center;
}

.main-container__body_content_column{
    display: flex;
    flex-direction: column;
}

.main-container__body_text-horizontal{
    text-align: center;
}

.main-container__body_text-horizontal>h2{
    font-size: 3rem;
    font-weight: 900;
    padding: 10px;
    color: #212528;
}

.main-container__body_text-horizontal>p{
    font-size: 1.2rem;
    padding: 10px;
    color: #212528;
}

.main-container__body_content_column>span{
    text-align: center;
    font-size: 1.5rem;
    background-image: url(./img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
}

.main-container__body_content_column>a{
    text-align: center;
}

/*footer*/

footer{
    height: 735px;
    background-color: #23272a;
}


.footer-container__link{
    margin: auto;
    height: 70%;
    align-items: center;
    justify-content: space-around;
}

.footer-container__content{
    display: flex;
    justify-content: space-between;
}

.footer-container__link_infobox{
    width: 30%;
}

.footer-container__link_infobox>h2{
    font-size: 2rem;
    font-weight: 900;
    color: #748ce0;

}

.footer-container__link_infobox_lenguage{
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    padding-left: 0;

}

.footer-container__link_infobox_lenguage>img{
    width: 30%;
    vertical-align: middle;
}

.footer-container__link_infobox_lenguage>span{
    vertical-align: middle;
}

.footer-container__link_list{
    width: 70%;
}

#list-footer{
    display: flex;
    justify-content: space-around;
}

#list-footer>li{
    color: #748ce0;
    padding: 10px;
}

.list-footer__padding>li{
    padding: 10px;
    padding-left: 0;
}